@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

html {
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width:375px) {
    html {
        width: 375px;
        height: 667px;
    }  
}


body {
    color: white;
    background-color: #0C122C;
    width: 1440px; 
    height: 800px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;  
}

@media screen and (max-width:375px) {
    body {
        width: 375px;
        height: 667px;
        background-image: url("images/bg-mobile.png");
    }
}

p {
    margin-block-start:0; 
    margin-block-end:0; 
    margin-inline-start:0; 
    margin-inline-end:0;
    padding-block-start:0; 
    padding-block-end:0; 
    padding-inline-start:0; 
    padding-inline-end:0;
}

.bg-img {
    position: absolute;
    top: 380px;
}

@media screen and (max-width:375px) {
  .bg-img {
      display: none;
  }
}

.main {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20%;
}

.container-1 {
    width: 23%;
    height: 12rem;
    background-color: #1E2C6A;
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    margin-left: 18rem;
}

.container-1-images {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0.5rem 1.5rem 1.7rem;
}


.img-div {
    display: flex;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    background-color: #121B41;
    border-radius: 0.5rem;
    margin: 0.3rem;
}

.img-div > img {
    width: 45%;
    height: auto;
    margin: auto;
}

.logo {
    width: 40%;
    padding: 2rem 2rem 1rem 2rem;
}

.container-2 {
    width: 40%;
    height: 10rem;
    background-color: #1E2C6A; 
    border-radius: 0.5rem;
    margin-right: 13rem;
    margin-top: 2rem;
}

@media screen and (max-width:375px) {
    .main {
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin: auto;
        padding-top: 30%;
    }

    .container-1 {
        width: 80%;
        margin: 1rem auto;
    }

    .container-2 {
        width: 80%;
        margin: 0 auto;
    }
}

.gb-left {
    background-color: white;
    color: black;
    height: 70px;
    border-radius: 0.5rem;
    position: absolute;
    right: 250px;
    top: 275px;
}

@media screen and (max-width:375px) {
    .gb-left {
        top: 93%;
        right: 25%;
    }
}

.gb-left::after {
    content: "";
    position: relative;
    top: 31px;
    right: -154px;
    border-top: 30px solid white;
    border-left: 30px solid transparent;
  }

@media screen and (max-width:375px) {
    .gb-left::after {
        display: none;
    }
}

.gb-left  p {
    margin-top: 0.5rem;
    font-size: 0.7rem;  
    font-weight: 700;
    color: #C1C0C4;
    padding: 0 2rem;
}

.span1 {
    font-weight: 700;
    font-size: 2.5rem;
    color: black;
    padding-right: 0.4rem;
}

.span2 {
    font-weight: 700;
    font-size: 1rem;
}

.p-status {
    padding: 2.5rem 1.5rem 0 3rem;
    font-weight: 300;
}

@media screen and (max-width:375px) {
    .p-status {
        font-size: 0.8rem;
        padding: 1.5rem 1.5rem 0 1.5rem;
        text-align: center;
    }
}

.slider-bar-outer {
    height: 1.2rem;
    border-radius: 1rem;
    background-color: #151D49;
    margin: 1rem 3rem 0.5rem 3rem; 
}

@media screen and (max-width:375px) {
   .slider-bar-outer {
    margin: 1rem 2rem 0.5rem 2rem;
   }
}

.slider-bar-inner {
    height: 0.8rem;
    width: 70%;
    border-radius: 1rem;
    background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border: 0.2rem solid #151D49;   
}

.slider-bar-inner::before {
    content: '';
    display: block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: white;
    margin-left: 20.2rem;
    margin-top: 1px;
}


 

.slider-size-range {
    display: flex;
    justify-content: space-between;
    margin: 0 3rem;
    font-size: 0.8rem;
}

@media screen and (max-width:375px) {
    .slider-size-range {
      font-size: 0.7rem;
      margin: 0 2rem;
    }

    .slider-bar-inner::before {
      margin-left: 9.5rem;
      margin-top: 1px; 
    }
    
}